@import 'src/styles/variables';

.body {
  width: 100%;
  height: fit-content;
  background: #f6f7f9;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 120px 18px 94px;

  @include breakpoint(md) {
    padding: 16px 110px 18px 78px;
  }
  @include breakpoint(sm) {
    padding: 8px 40px 8px 20px;
  }

  .message {
    position: relative;
    width: 1226px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include breakpoint(sm) {
      flex-wrap: wrap;
    }

    .title {
      color: #061953;
    }

    @include breakpoint(md) {
      max-width: 100%;
      flex-wrap: wrap;
      font-weight: 600;
      font-size: 12px;
      line-height: 18px;
    }
  }

  .textWrapper {
    max-width: 729px;
  }

  .description {
    margin-top: 8px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #6d7692;
  }
}
